<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/testMania.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title></title>
</head>
<body style="min-height:100vh; padding:0; max-width:100vw;">
    <div class="header">
        <nav class="navbar navbar-expand-sm navbar-light fixed-top d-flex justify-content-between" style="width:100vw; background-color:white;">
        <a href=""><img src="{% static 'graphics/backImage.svg' %}" alt=""></a>
        <a class="navbar-brand" href="/#"><img class="logo" src="{% static 'graphics/logoTestMania.png' %}" alt=""></a>
        {% if user.is_authenticated %}
        <a href="/dashboard"><span><img src="{{user.profile.profile_pic}}" alt="">
            <div class="d-inline dropdown">{{user.username}}</div>
        </span></a>
        {% else %}
        <a href="/login"><button class="btn btn-outline-success">login</button></a>
        {% endif %}

        </nav>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column" style="min-height:calc(100vh - 8.5rem); padding:1rem; top:2rem;">
    {%block bodyContent%}
    {%endblock%}
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>
</body>
</html>


