{% extends 'base.html' %}
{{% block bodyContent %}
<div class="d-flex flex-row"style="min-width=100%">
<div class="container" id="userProfile"></div>

    <div class="container">
        <div>
            <h1>Test Created</h1>
            <table class="table-bordered">
            <tr>
                <th>ID</th>
                <th>Test</th>
                <th>No. of participants</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>

            </tr>
            

            {% for i in contestCreated %}
            <tr>
            <td>{{i.id}}</td>
            <td><a href="/contest_records/{{i.id}}" name="contest_name">{{i.contest}}</a></td>
            <td>{{i.noOfParticipants}}</td>
            <td>{{i.startDate}}</td>
            <td>{{i.startTime}}</td>
            <td>{{i.endDate}}</td>  
            <td>{{i.endTime}}</td>
            </tr>
            
            {% endfor %}
            </table>
        </div>
        <div>
            <h1>Test Taken</h1>
            <table class="table-bordered">
            <tr>
                <th>id</th>
                <th>Test</th>
                <th>Score</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>

            </tr>
            {% for i in contestTaken %}
            <tr>
            <td>{{i.id}}</td>
            <td><a href="/testTakenDetails/{{i.id}}">{{i.contest}}</a></td>
            <td>{{i.score}}</td>
            <td>{{i.startDate}}</td>
            <td>{{i.startTime}}</td>
            <td>{{i.endDate}}</td>
            <td>{{i.endTime}}</td>

            </tr>
            {% endfor %}
            </table>
        </div>

    </div>
</div>

{% endblock bodyContent %}