{% extends 'base.html' %}
 {% load static %}
{{% block bodyContent %}
<div class="d-flex flex-row">
    <div>
        {% for i in detail %}
        <h1>{{i.0}}</h1>
        <h1>{{i.1}}</h1>
        <h1>{{i.2}}</h1>
        <h1>{{i.3}}</h1>
        <img src="{% static 'WhatsApp_Image_2020-02-03_at_7.35.22_PM_0fIE6Dn.jpeg' %}" alt="hello">
        <h1>{{i.4}}</h1>
        
        {% endfor %}

    </div>
    <div class="container">
        <div>
            <h1>Test Created</h1>
            <table class="table-bordered">
            <tr>
                <th>ID</th>
                <th>Test</th>
                <th>No. of participants</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>

            </tr>
            

            {% for i in contestCreated %}
            <tr>
            <td>{{i.id}}</td>
            <td><a href="/contest_records/{{i.id}}" name="contest_name">{{i.contest}}</a></td>
            <td>{{i.noOfParticipants}}</td>
            <td>{{i.startDate}}</td>
            <td>{{i.startTime}}</td>
            <td>{{i.endDate}}</td>  
            <td>{{i.endTime}}</td>
            </tr>
            
            {% endfor %}
            </table>
        </div>
        <div>
            <h1>Test Taken</h1>
            <table class="table-bordered">
            <tr>
                <th>id</th>
                <th>Test</th>
                <th>Score</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>

            </tr>
            {% for i in contestTaken %}
            <tr>
            <td>{{i.id}}</td>
            <td><a href="/testTakenDetails/{{i.id}}">{{i.contest}}</a></td>
            <td>{{i.score}}</td>
            <td>{{i.startDate}}</td>
            <td>{{i.startTime}}</td>
            <td>{{i.endDate}}</td>
            <td>{{i.endTime}}</td>

            </tr>
            {% endfor %}
            </table>
        </div>

    </div>
</div>

{% endblock bodyContent %}