{% extends 'base.html' %} {% block bodyContent %} {% load static %}
<div class="displayQuestion">
  <div class="displayQuestionHeading d-flex">
    <h4>Question: {{quesNo}}/{{tNo}}</h4>
    <span>
      <img src='{% static 'graphics/alarm-clock.svg' %}' alt="">
      <a id="timeRemain">__:__</a>
    </span>
  </div>
  <form action="/displayQuestions/" method="POST">
    {% csrf_token %}
    <input type="text" name="contestId" value="{{contestId}}" hidden />
    <input type="text" name="quesId" value="{{quesId}}" hidden />

    <div id="ques">{{ques}}</div>

    <div>
      <label for="optionA" style="padding: 5px">
        <input
          type="radio"
          name="option"
          value="A"
          id="optionA"
          style="
            transform: scale(1.6);
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
          "
        />
        {{A}}</label
      >
    </div>
    <div>
      <label for="optionB" style="padding: 5px">
        <input
          type="radio"
          name="option"
          value="B"
          id="optionB"
          style="
            transform: scale(1.6);
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
          "
        />
        {{B}}</label
      >
    </div>
    <div>
      <label for="optionC" style="padding: 5px">
        <input
          type="radio"
          name="option"
          value="C"
          id="optionC"
          style="
            transform: scale(1.6);
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
          "
        />
        {{C}}</label
      >
    </div>
    <div>
      <label for="optionD" style="padding: 5px">
        <input
          type="radio"
          name="option"
          value="D"
          id="optionD"
          style="
            transform: scale(1.6);
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
          "
        />
        {{D}}</label
      >
    </div>

    <input id="submit" type="submit" value="Submit" />
  </form>
</div>
<script>
  
  let array=[2,3,4];
  var time={{time}}*10;
  setInterval(updateTime,1000);
  function updateTime(){
    if(time==0){
      document.getElementById('submit').click();
      return;
    }
    else{
    document.getElementById('timeRemain').innerHTML=Math.floor(time/60) + ":" +time%60;
    }
    time-=1;
  
  }
</script>

{% endblock bodyContent %}
